body {
  overflow: hidden;
}

@property --rotate-y {
  syntax: '<number>'; /* <- defined as type number for the transition to work */
  initial-value: 0;
  inherits: false;
}

@keyframes spin {
  from {
    --rotate-y: 0;
  }

  to {
    --rotate-y: 360;
  }
}

.floor {
  --width: 90;
  --height: 90;

  --rotate-x: -25;
  --rotate-y: -10;

  /* animation: spin 20s infinite linear; */

  background-color: #e5e5f7;
  opacity: 1;
  background: radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5f7 20%, #e5e5f7 80%, transparent 80%, transparent) 100px 100px, linear-gradient(#9196a6 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #9196a6 8px, #e5e5f7 8px) -4px 0;
  background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
}

.table {
  --rotate-y: 0;
  --rotate-x: -90;

  --width: 50;
  --height: 25;

  --x: calc((90 - 50) / 2);
  --y: calc((90 - 25) / 2);
  
  background: none;
}

.table__shadow {
  position: absolute;
  transform-origin: 50% 50%;
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%) scaleX(3.1) scaleY(1.8);

  width: 20vmin;
  height: 20vmin;

  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0,0,0,0) 100%);
  filter: blur(2.5vmin);
  opacity: 0.9;
}

.table__shadow--leg {
  width: 7vmin;
  height: 7vmin;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.table__shadow--leg.bl {
  transform: translate(-50%, -50%) translate3d(-24vmin, -11.5vmin, 0);
}

.table__shadow--leg.fl {
  transform: translate(-50%, -50%) translate3d(-24vmin, 11.5vmin, 0);
}

.table__shadow--leg.br {
  transform: translate(-50%, -50%) translate3d(24vmin, -11.5vmin, 0);
}

.table__shadow--leg.fr {
  transform: translate(-50%, -50%) translate3d(24vmin, 11.5vmin, 0);
}

.desktop {
  --rotate-x: -90;

  --width: 25vmin;

  --z: 13;

  background: none;
}

.desktop__title {
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
}