@import url(shared.scss);

body {
  overflow: hidden;
  background-color: rgb(12, 13, 24);
  // background: radial-gradient(rgb(19, 21, 36), rgb(15, 15, 20));
}

header {
  --floor-width: 180;
  --floor-height: 180;
}

.floor {
  --width: var(--floor-width);
  --height: var(--floor-height);

  --rotate-x: 0;
  --rotate-y: 0;

  animation: 20s infinite linear;

  background-color: #e5e5f7;
  opacity: 1;
  background: url(/img/floor.jpg);
  background-size: 16rem;
  border-radius: 5vmin;

  box-shadow: 0 0 12vmin 5vmin rgb(12, 13, 24) inset;

  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    width: 100.4%;
    height: 100.4%;
    background:  radial-gradient(circle, rgba(12,13,24,0) 10%, rgba(12,13,24,1) 57%);
    border-radius: 5vmin;
  }
}

.table {
  --rotate-y: 0;
  --rotate-x: -90;

  --width: 50;
  --height: 25;

  // --x: calc((var(--floor-width) - var(--width)) / 2);
  // --y: calc((var(--floor-height) - var(--height)) / 2);

  background: none;
}

.table__shadow {
  position: absolute;
  transform-origin: 50% 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleX(3.1) scaleY(1.8);

  width: 20vmin;
  height: 20vmin;

  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  filter: blur(2.5vmin);
  opacity: 0.9;

  &--leg {
    width: 2vmin;
    height: 2vmin;
    background: black;
    filter: blur(.5vmin);
    transform: translate(-50%, -50%);
    opacity: .55;
    box-shadow: 0 0 3.2vmin 1.5vmin black;

    &.bl {
      transform: translate(-50%, -50%) translate3d(-24vmin, -11.5vmin, 0);
    }

    &.fl {
      transform: translate(-50%, -50%) translate3d(-24vmin, 11.5vmin, 0);
    }

    &.br {
      transform: translate(-50%, -50%) translate3d(24vmin, -11.5vmin, 0);
    }

    &.fr {
      transform: translate(-50%, -50%) translate3d(24vmin, 11.5vmin, 0);
    }
  }
}

.tabletop {
  --rotate-x: -90;

  --width: 25vmin;

  --z: 13;

  background: none;

  &__title {
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
  }
}